body, html {
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }

header {
    background-color: #000000;
    height: 30px;
    width: 100%;
    opacity: .9;
    padding: 10px;
}

header h1.logo {
    margin: 0;
    font-size: 1.6em;
    color: #fff;
    text-transform: uppercase;
    float: left;
}


h2 {
    font-size: 30px;
    margin-top: 20px;
    text-align: left;
    padding-left: 10px;
}

pre {
    font-size: 20px;
    text-align: left;
    margin-top: -5px;
    padding-left: 10px;
    color: #999;
}