<!DOCTYPE html>
<html lang="en">

<head>
  <title>Webcounter | {{version }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
  <header>
    <div>
      <h1 class="logo">Webcounter</h1>
    </div>
  </header>
  <div>
    <h2>Stateful with local variables</h2>
    <pre><a href="/local">/local</a></pre>
    <h2>Stateless with redis containers</h2>
    <pre><a href="/hits">/hits</a></pre>
    <h2>Generate cpu load</h2>
    <pre><a href="/load">/load</a></pre>
    <hr>
    <pre>git hash: {{ version }}</pre>
    <pre>hostname: {{ hostname }}</pre>
    <pre>ip addr: {{ ip }}</pre>
  </div>
</body>

</html>